Repository StarlitSKy88/pachong, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @docs-team, @dev-team, @crawler-team, @processor-team, @generator-team, @analyzer-team, @model-team, @util-team, @test-team, @devops-team, @security-team

[Cursor] 更新项目状态报告：完成度56%
  PROJECT_STATUS.md
Owners: @docs-team

[Cursor] Initial commit: Project structure and basic implementations
  .gitignore
  src/config/__init__.py
  src/config/settings.py
  src/crawlers/base_crawler.py
  src/crawlers/bilibili/crawler.py
  src/database/base.py
  src/database/session.py
  src/models/base.py
  src/models/tables.py
  src/monitor/alert_rule.py
  src/utils/cookie_manager.py
  tests/test_production.py
  tests/test_settings.py
Owners: @your-username, @dev-team, @crawler-team, @model-team, @util-team, @test-team

[Cursor] Update vercel.json configuration
  frontend/vercel.json
Owners: @your-username, @devops-team

[Cursor] Add Vue plugins for Vite
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
Owners: @your-username, @devops-team

[Cursor] Add basic Settings component
  frontend/src/views/Settings.vue
Owners: @your-username

[Cursor] Update frontend configuration and dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/frontend/src/views/Settings.vue
Owners: @your-username, @devops-team

[Cursor] Fix file structure and update configurations
  frontend/src/views/Home.vue
  frontend/src/views/Settings.vue
  frontend/src/views/Tasks.vue
  frontend/src/views/frontend/src/views/Settings.vue
Owners: @your-username

[Cursor] Update Vercel configuration for SPA
  frontend/vercel.json
Owners: @your-username, @devops-team

[Cursor] Update index.html to trigger redeploy
  frontend/index.html
Owners: @your-username

[Cursor] Update root vercel.json to deploy frontend only
  vercel.json
Owners: @your-username, @devops-team

docs: update project documentation with new configurations
  docs/development_log.md
  docs/progress_tracking.md
  docs/project_structure.md
Owners: @docs-team

refactor: reorganize project structure
  .gitignore
  deploy/nginx/conf.d/api.conf
  deploy/nginx/nginx.conf
  frontend/src/views/Tasks.vue
  frontend/vite.config.js
  requirements.txt
  run_server.py
  src/main.py
  tests/unit/test_api.py
  tests/unit/test_crawler.py
  tests/unit/test_xhs_crawler.py
Owners: @your-username, @security-team, @dev-team, @test-team

chore: clean up project structure and gitignore
  .env
  .gitignore
  config/config.json
  data/cookies.json
  data/db/.gitkeep
  data/proxies.json
  data/results/8a9c57ce-36f9-4306-b12e-b3a8a2278b76.json
  data/tasks/8a9c57ce-36f9-4306-b12e-b3a8a2278b76.json
  frontend/.env
  tests/tests/config/config.json
Owners: @your-username, @devops-team

refactor: reorganize files and update documentation
  README.md
  deploy/vercel.json
  frontend/.env
  src/cli/cli.py
Owners: @your-username, @docs-team, @devops-team, @dev-team

docs: update project documentation
  docs/api.md
  docs/deployment.md
  docs/deployment/README.md
  docs/development/README.md
  docs/development/architecture.md
  docs/development/development.md
  docs/development/development_log.md
Owners: @docs-team, @your-username

Initial commit: 项目基础架构搭建
  docs/deployment/README.md
  docs/dev_log.md
  docs/project_structure.md
  frontend/src/App.vue
  frontend/src/main.js
  frontend/src/views/Home.vue
  frontend/src/views/Tasks.vue
  frontend/vercel.json
  run_server.py
  serve_static.py
  src/api/__init__.py
  src/api/routes/__init__.py
  src/api/routes/crawler_api.py
  src/database/connection.py
  src/main.py
  src/models/task.py
  src/processors/task_processor.py
  start.py
  static/index.html
  vercel.json
Owners: @your-username, @docs-team, @devops-team, @dev-team, @model-team, @processor-team

.github/CODEOWNERS:

# 这是一个CODEOWNERS文件，用于定义代码的所有者
# 每一行的格式为：文件模式 所有者1 所有者2

# 默认所有者
*       @your-username

# 文档
/docs/  @your-username @docs-team

# 源代码
/src/   @your-username @dev-team
/src/crawlers/     @crawler-team
/src/processors/   @processor-team
/src/generators/   @generator-team
/src/analyzers/    @analyzer-team
/src/models/       @model-team
/src/utils/        @util-team

# 测试
/tests/  @your-username @test-team

# 配置文件
*.yml    @your-username @devops-team
*.yaml   @your-username @devops-team
*.json   @your-username @devops-team
*.toml   @your-username @devops-team
*.ini    @your-username @devops-team

# Docker相关
/docker/           @devops-team
Dockerfile        @devops-team
docker-compose.yml @devops-team

# CI/CD
/.github/         @your-username @devops-team
/.github/workflows/    @devops-team

# 依赖管理
requirements.txt  @your-username @security-team
requirements-dev.txt @your-username @security-team
setup.py         @your-username @security-team
pyproject.toml   @your-username @security-team

# 安全相关
SECURITY.md      @security-team
.github/SECURITY.md @security-team

# 文档相关
*.md             @docs-team
/docs/           @docs-team
CHANGELOG.md     @your-username @docs-team
README.md        @your-username @docs-team
